/* Stylesheet for CSS Masonry Layout Project */

main {
	max-width: 1440px;
	margin: 0px auto;
}

main h2 {
	text-align: center;
}

main img {
	display: block;
	width: 100%;
	height: auto;
}

div.masonry_layout {
	column-count: 3;
	column-gap: 20px;
}

div.item {
	margin-bottom: 10px;
	-webkit-column-break-inside:  avoid
}

/* Media Query for tablet or smaller screen */

@media only screen and (max-width: 768px) {
	div.masonry_layout {
		column-count: 2;
		column-gap: 10px;
	}
	
	div.item {
		margin-bottom: 5px;
		-webkit-column-break-inside:  avoid
	}
}